<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
</head>
<body>
    <!-- formhelpers.htmlで定義しているrender_fieldマクロをインポート -->
    {% from "formhelpers.html" import render_field %}
    <form method="POST">
        <!-- クロスサイトリクエストフォージェリ対策用のトークンを生成 -->
        {{ form.csrf_token }}
        
        {{ render_field(form.name) }}
        {{ form.submit() }}
    </form>
</body>
</html>